@page "/comment"

<PageTitle>Comment</PageTitle>

<div class="card" style="width: 300px; border: 1; background-color: rgb(223, 207, 207);">
        <div style="height: 1px;"></div>
        <div class="card-body" style="margin-left: 25px; margin-right: 25px;">
            <h2>Comments</h2>
            <hr>
            @if (comments != null){
                foreach (var comment in comments){
                <div class="card" style="margin-bottom: 5px; position: relative;">
                    <div class="card" style="display: flex; justify-content: space-between;">
                        <div style="position: absolute; top: 0; right: 0;">
                            <a @onclick="@(() => EditComment(comment))"><img src="/images/edit.png" alt="edit comment" height="14" width="23" /></a>
                            <a @onclick="@(() => DeleteComment(comment))"><img src="/images/delete.png" alt="delete comment" height="14" width="23" /></a>
                        </div>
                        <br>
                        <p>@comment</p>
                            @if (NewText == comment){
                                    <span>---------------------------------------</span>
                                    <span>Edit</span>
                                    <textarea style="width: 210px;" id="text" @bind="@Text" required></textarea>
                                    <br />
                            <div style="display: flex;">
                                <button @onclick="SaveComment" type="submit" style="flex: 1;">Save</button>
                                <button @onclick="CancelEdit" type="submit" style="flex: 1;">Cancel</button>
                            </div>
                                }
                    </div>
                </div>
                }
            }

            <form method="post" @onsubmit="SubmitComment">
                <textarea style="width: 240px;" id="text" @bind="@Text" required></textarea>
                <br />
                <button type="submit" style="border: 0;">Save comment</button>
            </form>
        </div>
        <div style="height: 20px;"></div>
    </div>

@code {
    private String Text;
    private String NewText;
    List<string> comments = new List<string>();
    private void SubmitComment()
    {
        comments.Add(@Text);
        Text = "";
    }

    private void EditComment(string comment)
    {
        NewText = comment;
    }

    private void DeleteComment(string comment)
    {
        comments.Remove(comment);
    }

    private void SaveComment()
    {
        if (@Text == "")
        {
            CancelEdit();
        }
        else
        {// Update the comment in the comments list with the new text
            int index = comments.IndexOf(NewText);
            comments[index] = Text;
            Text = "";
            NewText = "";
        }
        
    }

    private void CancelEdit()
    {
        NewText = "";
    }
}

